<table style="background-color: #f2f8f9; max-width:670px;  margin:0 auto;" width="100%" border="0" align="center"
    cellpadding="0" cellspacing="0">
    <tbody>
        <tr>
            <td style="height:80px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="height:40px;">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0" style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);-moz-box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12);box-shadow:0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 1px 3px 0 rgba(0, 0, 0, 0.12)">
                    <tbody>
                        <tr>
                            <td style="height:40px;">&nbsp;</td>
                        </tr>
                        <tr>
                            <td style="padding:0 15px;">
                                <h1 style="color:#3075BA; font-weight:400; margin:0;font-size:30px;">You have requested
                                    to reset your password</h1>
                                <span style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                <p style="color:#171f23de; font-size:15px;line-height:24px; margin:0;">
                                    Click on the link below to reset your password
                                </p>
                                <a href="{{url}}" style="background:#3075BA;text-decoration:none !important; font-weight:500; margin-top:35px; color:#fff;text-transform:uppercase; font-size:14px;padding:10px 12px;display:inline-block;border-radius:3px;">Reset Password</a>
                            </td>
                        </tr>
                        <tr>
                            <td style="height:40px;">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height:20px;">&nbsp;</td>
            <td style="height:80px;">&nbsp;</td>
        </tr>
    </tbody>
</table>